# Tugas Harian AI KOMINFO Sesi 5

Nama: Adam Mukharil Bachtiar
Kelas: ITB05

# Tugas 1

Anda diminta untuk melakukan pengambilan data pada kaggle dengan cara menggunakan tahapan-tahapan yang sudah ada di slide. Anda hanya perlu melakukan download 2 dataset bebas menggunakan tahapan-tahapan tersebut. Screenshot terminal (termasuk kaggle.json) dan list isi folder data dimasukkan ke dalam dokumen yang dikumpulkan.
https://www.kaggle.com/docs/api

Filename pengumpulan : tugas-6-1-<id-peserta>.docx

Pastikan filename yang dikumpulkan sesuai dengan format untuk mempermudah admin mengelola jawaban anda.

# Jawaban Tugas 1

## Data Olympic

Untuk data pertama, saya mengambil data perihal "120 years of Olympic history: athletes and results". Tapi sebelum itu, saya sertakan screenshot bukti kaggle.json yang sudah di-copy ke dalam folder .kaggle pada gambar berikut:

![Bukti Kaggle di .kaggle](https://drive.google.com/uc?export=view&id=1r3hMZ3V7JhRKPtNWJamSiEOCfizbtC9b)

![Isi kaggle](https://drive.google.com/uc?export=view&id=1dz3avrx3wefrEofXD2P3WvG1-2zeGfy4)

In [14]:
!kaggle datasets list -s "Olympic"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/adambachtiar/.kaggle/kaggle.json'
ref                                                           title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
heesoo37/120-years-of-olympic-history-athletes-and-results    120 years of Olympic history: athletes and results    5MB  2018-06-15 06:10:41          73738       1486  0.8235294
jayrav13/olympic-track-field-results                          Olympic Track & Field Results                        80KB  2017-05-26 02:42:35           2766         48  0.7647059
divyansh22/summer-olympics-medals                             Summer Olympics Medals (1976-2008)                  219KB  2020-02-03 08:42:41           4466         94  0.9411765
the-guardian/olympic-games                                    Olympic Sports and Medals, 1896-2014                483KB  2017-01-24 15:05:37          19416        172  0.7058824
stefanzivanov/olympic-games-2021-medals                       Olympic Games 2021 Medals                             2KB  2021-08-08 18:36:05            589         27  1.0
berkayalan/2021-olympics-medals-in-tokyo                      Tokyo 2020 Olympics Medals                            1KB  2021-08-09 19:36:13            878         31  1.0
rio2016/olympic-games                                         2016 Olympics in Rio de Janeiro                     286KB  2017-01-09 19:35:12           8221         93  0.7058824
arjunprasadsarkhel/2021-olympics-in-tokyo                     2021 Olympics in Tokyo                              347KB  2021-08-04 18:02:56           2215         66  0.8235294
mysarahmadbhat/120-years-of-olympic-history                   120 Years of Olympic History                          5MB  2021-08-09 02:26:36            515         34  1.0
samruddhim/olympics-althlete-events-analysis                  Olympics Althlete Events Analysis                     5MB  2020-09-12 07:14:20            468         24  1.0
piterfm/olympic-results-biathlon                              Olympic Results Biathlon                              5KB  2018-09-17 10:39:56            271          5  1.0
gpreda/tokyo-olympics-2020-tweets                             Tokyo Olympics 2020 Tweets                           25MB  2021-07-28 18:22:30            212         12  1.0
rushikeshlavate/olympic-games-medal-datasetfrom-1896-to-2018  Olympic Games medal Dataset(from 1896 to 2018)        4KB  2021-01-03 05:56:23            664         22  0.7647059
brendan45774/summer-olympics-medalist-dataset                 Summer Olympics Medalist                              1MB  2021-05-29 19:59:38            150         19  0.8235294
mathurinache/women-in-the-olympic-games                       Women in the Olympic Games                          113KB  2021-03-14 21:02:10            100          9  1.0
martj42/international-football-results-from-1872-to-2017      International football results from 1872 to 2021    550KB  2021-08-07 14:41:33          43463       1296  1.0
mpwolke/cusersmarilonedriverea-de-trabalhomedalcsv            Olympic Medal Rewards                                513B  2021-07-28 13:33:43             13          2  1.0
piterfm/olympic-games-medals-19862018                         Olympic Games, 1986-2018                             10MB  2021-08-04 21:02:38             91          2  1.0
mathurinache/cross-country-skiing-at-the-winter-olympics      Cross-country_skiing_at_the_Winter_Olympics           2KB  2020-09-06 15:07:08             38         10  0.9411765
piterfm/olympic-games-hosts                                   Olympic Games Hosts                                   3KB  2020-04-24 20:46:29             88          1  1.0

Setelah menampilkan data pada kaggle perihal ''Olympic", sekarang pilih data "120 years of Olympic history: athletes and results" dengan menjalankan kode program berikut:

In [15]:
!kaggle datasets download heesoo37/120-years-of-olympic-history-athletes-and-results

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/adambachtiar/.kaggle/kaggle.json'
120-years-of-olympic-history-athletes-and-results.zip: Skipping, found more recently modified local copy (use --force to force download)

Data uang diunduh masih berupa data zip. Langkah berikutnya adalah unzip data tersebut agar bisa diakses:

In [ ]:
!unzip 120-years-of-olympic-history-athletes-and-results.zip

In [1]:
import os

print(os.listdir('/Users/adambachtiar/Documents/TugasHarian5/'))

['noc_regions.csv', '.DS_Store', 'dataset-data-understanding-tugas-2', 'kaggle.json', 'athlete_events.csv', 'Deskripsi-tugas-1-2-data-understanding.txt', '.ipynb_checkpoints', '120-years-of-olympic-history-athletes-and-results.zip', 'Tugas Harian AI KOMINFO Sesi 5.ipynb']

In [5]:
import pandas as pd

path = 'athlete_events.csv'
athlete_events = pd.read_csv(path)

print(athlete_events)

            ID                      Name Sex   Age  Height  Weight  \
0            1                 A Dijiang   M  24.0   180.0    80.0
1            2                  A Lamusi   M  23.0   170.0    60.0
2            3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4      Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            5  Christine Jacoba Aaftink   F  21.0   185.0    82.0
...        ...                       ...  ..   ...     ...     ...
271111  135569                Andrzej ya   M  29.0   179.0    89.0
271112  135570                  Piotr ya   M  27.0   176.0    59.0
271113  135570                  Piotr ya   M  27.0   176.0    59.0
271114  135571        Tomasz Ireneusz ya   M  30.0   185.0    96.0
271115  135571        Tomasz Ireneusz ya   M  34.0   185.0    96.0

                  Team  NOC        Games  Year  Season            City  \
0                China  CHN  1992 Summer  1992  Summer       Barcelona
1                China  CHN  2012 Summer  2012  Summer          London
2              Denmark  DEN  1920 Summer  1920  Summer       Antwerpen
3       Denmark/Sweden  DEN  1900 Summer  1900  Summer           Paris
4          Netherlands  NED  1988 Winter  1988  Winter         Calgary
...                ...  ...          ...   ...     ...             ...
271111        Poland-1  POL  1976 Winter  1976  Winter       Innsbruck
271112          Poland  POL  2014 Winter  2014  Winter           Sochi
271113          Poland  POL  2014 Winter  2014  Winter           Sochi
271114          Poland  POL  1998 Winter  1998  Winter          Nagano
271115          Poland  POL  2002 Winter  2002  Winter  Salt Lake City

                Sport                                     Event Medal
0          Basketball               Basketball Men's Basketball   NaN
1                Judo              Judo Men's Extra-Lightweight   NaN
2            Football                   Football Men's Football   NaN
3          Tug-Of-War               Tug-Of-War Men's Tug-Of-War  Gold
4       Speed Skating          Speed Skating Women's 500 metres   NaN
...               ...                                       ...   ...
271111           Luge                Luge Mixed (Men)'s Doubles   NaN
271112    Ski Jumping  Ski Jumping Men's Large Hill, Individual   NaN
271113    Ski Jumping        Ski Jumping Men's Large Hill, Team   NaN
271114      Bobsleigh                      Bobsleigh Men's Four   NaN
271115      Bobsleigh                      Bobsleigh Men's Four   NaN

[271116 rows x 15 columns]

In [4]:
path = 'noc_regions.csv'
noc_region = pd.read_csv(path)

print(noc_region)

     NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

## Data Harry Potter

Selanjutnya adalah data harry tentang Harry Potter.

In [6]:
!kaggle datasets list -s "Harry Potter"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/adambachtiar/.kaggle/kaggle.json'
ref                                                     title                                             size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
gulsahdemiryurek/harry-potter-dataset                   Harry Potter Dataset                              95KB  2021-05-14 21:30:31           3593         52  0.47058824
juliasays/harry-potter-spells                           Harry Potter Spells                               766B  2020-06-22 13:36:53            135         16  0.7647059
nehatiwari03/harry-potter-fanfiction-data               Harry Potter fanfiction data                      86MB  2020-01-25 01:37:25            199         11  0.9411765
eward96/harry-potter-and-the-philosophers-stone-script  Harry Potter and the Philosopher's Stone script   25KB  2020-06-17 12:04:00            242         14  0.88235295
ihelon/lego-minifigures-classification                  LEGO Minifigures                                  27MB  2021-07-15 19:14:08           2885        208  0.9411765
kornflex/harry-potter-movies-dataset                    Harry Potter Movies Dataset                      227KB  2021-08-15 01:33:29            121          4  0.9411765
santiviquez/hp1txt                                      Harry Potter Book 1                              162KB  2020-05-04 20:30:33            125          6  0.375
gantlaborde/riddikulus                                  Riddikulus - Hogwarts Houses                     101MB  2021-01-07 14:30:54             26         22  0.75
eward96/harry-potter-and-the-chamber-of-secrets-script  Harry Potter and the Chamber of Secrets script    29KB  2020-06-21 11:57:19             61          7  0.7647059
zez000/characters-in-harry-potter-books                 Characters in Harry Potter Books                 321KB  2020-11-20 14:53:46             59          4  0.5294118
muhammadmdurrani/severus-snape                          Severus Snape                                     64MB  2020-12-16 20:55:20              6          4  0.875
mchavoshi/harry-potter-book1-farsi                      harry_potter_book1_farsi                         225KB  2019-09-25 08:24:51             41          3  0.8125

Yang diunduh adalah dataset tentang mantra di Harry Potter. Berikut prosesnya:

In [7]:
!kaggle datasets download juliasays/harry-potter-spells

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/adambachtiar/.kaggle/kaggle.json'
Downloading harry-potter-spells.zip to /Users/adambachtiar/Documents/TugasHarian5
  0%|                                                 | 0.00/766 [00:00<?, ?B/s]
100%|███████████████████████████████████████████| 766/766 [00:00<00:00, 723kB/s]

In [8]:
!unzip harry-potter-spells.zip

Archive:  harry-potter-spells.zip
  inflating: Harry Potter Spells.csv

In [15]:
import pandas as pd

path = 'Harry Potter Spells.csv'
spells = pd.read_csv(path,sep = ';')

print(spells)

   Number   Name of the spell  \
0       1    Expecto Patronum
1       2               Accio
2       3  Wingardium Leviosa
3       4        Expelliarmus
4       5               Lumos
5       6           Alohomora
6       7       Avada Kedavra
7       8        Sectumsempra
8       9           Obliviate
9      10          Riddikulus

                                        What is does  Complexity
0  Gets rid of pesky Dementors by summoning a bad...           5
1  The perfect charm for lazy people who can't be...           3
2                 Makes things levitate. Sounds fun.           1
3  Basically the only spell Harry ever uses when ...           4
4  The spell equivalent of that little torch app ...           3
5  That one Hermione keeps using to unlock doors ...           1
6                    We all know what this one does.           7
7  A mouthful of a curse invented by troubled tee...           6
8  The charm Gilderoy Lockhart uses to accidental...           7
9  Transforms nasty Boggarts from something scary...           3

# Tugas 2

Sumber data: https://github.com/hackathonBI/CCS

Buatlah file ipynb untuk dapat melakukan data understanding berikut ini : 

1. Buatlah table list Top 5 Customers yang memiliki nilai transaksi paling banyak menggunakan dataframe pada python !
2. Buatlah list Top 5 Gas stations yang memiliki nilai transaksi paling banyak menggunakan dataframe pada python!
3. Buatlah list Top 5 Jenis produk yang memiliki nilai transaksi paling banyak menggunakan dataframe pada python!
4. Buatlah deskripsi statistik untuk masing masing hari (23,24,25,26) pada dataset transaction_1k!
5. Carilah waktu terbaik (hari dan jam) dimana paling banyak user gas station melakukan transaksi !
6. Dari segi bisnis understanding, tujuan utama dari analisis data customer ini adalah?- Masukkan jawaban anda pada text di ipynb

Filename pengumpulan : tugas-6-2-<id-peserta>.ipynb
Pastikan filename yang dikumpulkan sesuai dengan format untuk mempermudah admin mengelola jawaban anda.

# Jawaban Tugas 2

Berikut adalah jawaban tugas 2:

<b>Buatlah table list Top 5 Customers yang memiliki nilai transaksi paling banyak menggunakan dataframe pada python !</b>

In [76]:
import pandas as pd

path = 'dataset-data-understanding-tugas-2/transactions_1k.csv'

data_transaksi = pd.read_csv(path)
print(data_transaksi)
print()

group_transaction = data_transaksi.groupby('CustomerID')
sum_group = pd.DataFrame(group_transaction['Price'].sum())

print(sum_group.sort_values('Price', ascending = False).head())

     TransactionID        Date      Time  CustomerID  CardID  GasStationID  \
0                1  2012-08-24  09:41:00       31543  486621          3704
1                2  2012-08-24  10:03:00       46707  550134          3704
2                3  2012-08-24  10:03:00       46707  550134          3704
3                4  2012-08-24  13:53:00        7654  684220           656
4                5  2012-08-24  08:49:00       17373  536109           741
..             ...         ...       ...         ...     ...           ...
995            996  2012-08-26  13:04:00       12021  692529          3750
996            997  2012-08-26  11:52:00       15618  602037           438
997            998  2012-08-26  12:31:00       47057  533108           438
998            999  2012-08-25  07:51:00       22994  602354          3899
999           1000  2012-08-25  12:45:00       25986  655214          3899

     ProductID  Amount   Price
0            2      28  672.64
1            2      18  430.72
2           23       1  121.99
3            5       5  120.74
4            2      28  645.05
..         ...     ...     ...
995          2      27  612.86
996          2      29  635.22
997          2      14  302.34
998          2      23  522.21
999          2      38  870.93

[1000 rows x 9 columns]
              Price
CustomerID
19182       8618.54
16358       8400.94
31543       6161.50
12459       5974.47
30895       5940.01

<b>Buatlah list Top 5 Gas stations yang memiliki nilai transaksi paling banyak menggunakan dataframe pada python!</b>

In [77]:
import pandas as pd

path = 'dataset-data-understanding-tugas-2/transactions_1k.csv'

data_transaksi = pd.read_csv(path)
print(data_transaksi)
print()

group_transaction = data_transaksi.groupby('GasStationID')
sum_group = pd.DataFrame(group_transaction['Price'].sum())

print(sum_group.sort_values('Price', ascending = False).head())

     TransactionID        Date      Time  CustomerID  CardID  GasStationID  \
0                1  2012-08-24  09:41:00       31543  486621          3704
1                2  2012-08-24  10:03:00       46707  550134          3704
2                3  2012-08-24  10:03:00       46707  550134          3704
3                4  2012-08-24  13:53:00        7654  684220           656
4                5  2012-08-24  08:49:00       17373  536109           741
..             ...         ...       ...         ...     ...           ...
995            996  2012-08-26  13:04:00       12021  692529          3750
996            997  2012-08-26  11:52:00       15618  602037           438
997            998  2012-08-26  12:31:00       47057  533108           438
998            999  2012-08-25  07:51:00       22994  602354          3899
999           1000  2012-08-25  12:45:00       25986  655214          3899

     ProductID  Amount   Price
0            2      28  672.64
1            2      18  430.72
2           23       1  121.99
3            5       5  120.74
4            2      28  645.05
..         ...     ...     ...
995          2      27  612.86
996          2      29  635.22
997          2      14  302.34
998          2      23  522.21
999          2      38  870.93

[1000 rows x 9 columns]
                Price
GasStationID
4347          8557.94
48            6868.67
3250          6744.47
1155          6701.69
2417          6065.16

<b>Buatlah list Top 5 Jenis produk yang memiliki nilai transaksi paling banyak menggunakan dataframe pada python!</b>

In [113]:
import pandas as pd

path = 'dataset-data-understanding-tugas-2/transactions_1k.csv'

data_transaksi = pd.read_csv(path)
print(data_transaksi)
print()

group_transaction = data_transaksi.groupby('ProductID')
sum_group = pd.DataFrame(group_transaction['Price'].sum())

print(sum_group.sort_values('Price', ascending = False).head())

     TransactionID        Date      Time  CustomerID  CardID  GasStationID  \
0                1  2012-08-24  09:41:00       31543  486621          3704
1                2  2012-08-24  10:03:00       46707  550134          3704
2                3  2012-08-24  10:03:00       46707  550134          3704
3                4  2012-08-24  13:53:00        7654  684220           656
4                5  2012-08-24  08:49:00       17373  536109           741
..             ...         ...       ...         ...     ...           ...
995            996  2012-08-26  13:04:00       12021  692529          3750
996            997  2012-08-26  11:52:00       15618  602037           438
997            998  2012-08-26  12:31:00       47057  533108           438
998            999  2012-08-25  07:51:00       22994  602354          3899
999           1000  2012-08-25  12:45:00       25986  655214          3899

     ProductID  Amount   Price
0            2      28  672.64
1            2      18  430.72
2           23       1  121.99
3            5       5  120.74
4            2      28  645.05
..         ...     ...     ...
995          2      27  612.86
996          2      29  635.22
997          2      14  302.34
998          2      23  522.21
999          2      38  870.93

[1000 rows x 9 columns]

               Price
ProductID
2          345669.45
9           27261.03
5           24639.46
20           7233.72
8            3999.92

<b>Buatlah deskripsi statistik untuk masing masing hari (23,24,25,26) pada dataset transaction_1k!</b>

In [116]:
import pandas as pd

path = 'dataset-data-understanding-tugas-2/transactions_1k.csv'

data_transaksi = pd.read_csv(path)
print(data_transaksi)
print()

group_tanggal = data_transaksi.groupby('Date')
print(pd.DataFrame(group_tanggal.describe()))

     TransactionID        Date      Time  CustomerID  CardID  GasStationID  \
0                1  2012-08-24  09:41:00       31543  486621          3704
1                2  2012-08-24  10:03:00       46707  550134          3704
2                3  2012-08-24  10:03:00       46707  550134          3704
3                4  2012-08-24  13:53:00        7654  684220           656
4                5  2012-08-24  08:49:00       17373  536109           741
..             ...         ...       ...         ...     ...           ...
995            996  2012-08-26  13:04:00       12021  692529          3750
996            997  2012-08-26  11:52:00       15618  602037           438
997            998  2012-08-26  12:31:00       47057  533108           438
998            999  2012-08-25  07:51:00       22994  602354          3899
999           1000  2012-08-25  12:45:00       25986  655214          3899

     ProductID  Amount   Price
0            2      28  672.64
1            2      18  430.72
2           23       1  121.99
3            5       5  120.74
4            2      28  645.05
..         ...     ...     ...
995          2      27  612.86
996          2      29  635.22
997          2      14  302.34
998          2      23  522.21
999          2      38  870.93

[1000 rows x 9 columns]

           TransactionID                                                \
                   count        mean         std    min     25%    50%
Date
2012-08-23          10.0  164.500000  175.423456   26.0   38.75   79.0
2012-08-24         492.0  260.065041  158.448665    1.0  130.75  253.5
2012-08-25         425.0  708.637647  133.902758  441.0  598.00  709.0
2012-08-26          73.0  955.232877   26.181270  909.0  933.00  955.0

                           CustomerID                ... Amount         Price  \
               75%     max      count          mean  ...    75%    max  count
Date                                                 ...
2012-08-23  337.00   417.0       10.0  32101.700000  ...  35.25   91.0   10.0
2012-08-24  376.25   772.0      492.0  20743.821138  ...  27.00  264.0  492.0
2012-08-25  821.00  1000.0      425.0  23111.555294  ...  26.00  154.0  425.0
2012-08-26  977.00   998.0       73.0  22274.054795  ...  29.00  101.0   73.0


                  mean         std    min      25%     50%      75%      max
Date
2012-08-23  685.379000  534.046487  76.42  481.170  619.44  795.095  1994.71
2012-08-24  409.939736  488.269481   1.76   76.125  332.45  615.395  5762.49
2012-08-25  426.940071  453.134207   6.09  102.220  370.38  600.850  3600.84
2012-08-26  487.431370  429.192499   4.74  142.840  437.03  675.520  2303.75

[4 rows x 56 columns]

<b>Carilah waktu terbaik (hari dan jam) dimana paling banyak user gas station melakukan transaksi !</b>

In [145]:
import pandas as pd

path = 'dataset-data-understanding-tugas-2/transactions_1k.csv'

data_transaksi = pd.read_csv(path)
data_transaksi['Jam'] = pd.to_datetime(data_transaksi['Time'], format='%H:%M:%S').dt.hour
print(data_transaksi)
print()

group_waktu_best = pd.DataFrame(data_transaksi.groupby(['GasStationID','Date',"Jam"]).count())
print(group_waktu_best[group_waktu_best['TransactionID'] == group_waktu_best.groupby(level=[0])['TransactionID'].transform(max)])

#df[df['data'] == df.groupby(level=[0])['data'].transform(max)]

     TransactionID        Date      Time  CustomerID  CardID  GasStationID  \
0                1  2012-08-24  09:41:00       31543  486621          3704
1                2  2012-08-24  10:03:00       46707  550134          3704
2                3  2012-08-24  10:03:00       46707  550134          3704
3                4  2012-08-24  13:53:00        7654  684220           656
4                5  2012-08-24  08:49:00       17373  536109           741
..             ...         ...       ...         ...     ...           ...
995            996  2012-08-26  13:04:00       12021  692529          3750
996            997  2012-08-26  11:52:00       15618  602037           438
997            998  2012-08-26  12:31:00       47057  533108           438
998            999  2012-08-25  07:51:00       22994  602354          3899
999           1000  2012-08-25  12:45:00       25986  655214          3899

     ProductID  Amount   Price  Jam
0            2      28  672.64    9
1            2      18  430.72   10
2           23       1  121.99   10
3            5       5  120.74   13
4            2      28  645.05    8
..         ...     ...     ...  ...
995          2      27  612.86   13
996          2      29  635.22   11
997          2      14  302.34   12
998          2      23  522.21    7
999          2      38  870.93   12

[1000 rows x 10 columns]

                             TransactionID  Time  CustomerID  CardID  \
GasStationID Date       Jam
48           2012-08-24 9                3     3           3       3
64           2012-08-25 10               2     2           2       2
65           2012-08-25 3                1     1           1       1
                        11               1     1           1       1
89           2012-08-25 8                2     2           2       2
...                                    ...   ...         ...     ...
5432         2012-08-24 15               1     1           1       1
5466         2012-08-25 17               1     1           1       1
             2012-08-26 12               1     1           1       1
                        13               1     1           1       1
5481         2012-08-25 8                1     1           1       1

                             ProductID  Amount  Price
GasStationID Date       Jam
48           2012-08-24 9            3       3      3
64           2012-08-25 10           2       2      2
65           2012-08-25 3            1       1      1
                        11           1       1      1
89           2012-08-25 8            2       2      2
...                                ...     ...    ...
5432         2012-08-24 15           1       1      1
5466         2012-08-25 17           1       1      1
             2012-08-26 12           1       1      1
                        13           1       1      1
5481         2012-08-25 8            1       1      1

[622 rows x 7 columns]

<b>Dari segi bisnis understanding, tujuan utama dari analisis data customer ini adalah?- Masukkan jawaban anda pada text di ipynb</b>

Sebagai bentuk awal dari pemahaman data dan juga untuk mengetahui pola data awal sebagai bekal untuk tahap modeling nantinya. Sebagai contoh ketika akan melakukan data